{% load thumbnail %}

{% with user=action.user profile=action.user.profile %}
<div class="action mb-3 row">
  <div class="images col-md-auto">
    {% if profile.photo %}
      {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}">
          <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="item-img">
        </a>
      {% endthumbnail %}
    {% endif %}

    {% if action.target %}
      {% with target=action.target %}
        {% if target.image %}
          {% thumbnail target.image "80x80" crop="100%" as im %}
            <a href="{{ target.get_absolute_url }}">
              <img src="{{ im.url }}" class="item-img">
            </a>
          {% endthumbnail %}
        {% endif %}
      {% endwith %}
    {% endif %}
  </div>
  <div class="info col-md-auto">
    <p>
      <span class="date text-secondary">{{ action.created|timesince }} ago</span>
      <br />
      <a href="{{ user.get_absolute_url }}" class="text-success text-decoration-none">
        {% if user.first_name %}
          {{ user.first_name|capfirst }}
        {% else %} 
          {{ user.username|capfirst }}
        {% endif %}
      </a>
      {{ action.verb }}
      {% if action.target %}
        {% with target=action.target %}
          <a href="{{ target.get_absolute_url }}" class="text-success text-decoration-none">
            {{ target }}</a>
        {% endwith %}
      {% endif %}
    </p>
  </div>
</div>
{% endwith %}